.dropdownItem {
  display: flex;
  align-items: center;
  font-size: 0.6em;
  padding: 13px;
  user-select: none;
  cursor: pointer;
  letter-spacing: 1px;
}

.dropdownItem:hover {
  background-color: #ffffff;
}

.dropdownItem:first-child {
  margin-top: 10px;
}

.dropdownItemBubble {
  display: block;
  padding: 5px;
  border-radius: 100%;
  margin-right: 13px;
}
