@import-normalize;

@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400,800&display=swap");

* {
  box-sizing: border-box;
}

a,
button,
form,
input,
textarea {
  font-family: "Montserrat", sans-serif;
  outline: 0;
}

button {
  cursor: pointer;
}

a {
  color: #ffffff;
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  font-size: 0.6em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  padding: 15px;
  margin: 5px 10px;
  min-width: 200px;
  text-align: center;
  border-radius: 50px;
  letter-spacing: 2px;
  user-select: none;
}

a:hover {
  background: #333333;
}

body {
  position: relative;
  margin: 0;
  color: #333333;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 450px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
