@import-normalize;

@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400,800&display=swap");

:root {
  --nav-height: 45px;
}

* {
  box-sizing: border-box;
}

a,
button,
form,
input,
textarea {
  font-family: "Montserrat", sans-serif;
  outline: 0;
}

button {
  cursor: pointer;
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  position: relative;
  margin: 0;
  color: #333333;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 450px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
