.container {
  position: relative;
  background-color: #faf9fa;
  min-height: 100vh;
}

.contentWrapper {
  padding-top: var(--nav-height);
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  overflow-x: hidden;
}
