.taskItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.65em;
  padding: 10px 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  word-break: break-word;
  transition: background-color 0.4s;
}

.taskItem:hover {
  background-color: #faf9fa;
}

.taskWrapper {
  display: flex;
  align-items: center;
}

.taskButton {
  font-size: 0.7em;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.5);
  min-width: 18px;
  max-width: 18px;
  height: 18px;
  padding: 0;
  border-radius: 100%;
  margin-right: 12px;
}

.taskButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.taskButton svg {
  opacity: 0;
  transition: 0.3s opacity;
}

.taskButton:hover svg {
  opacity: 1;
}

.editButton {
  opacity: 0;
  background-color: transparent;
  border: none;
  padding: 5px;
  margin-left: 8px;
  transition: opacity 0.3s;
}

.editButton:hover {
  color: #53e3a6;
}

.taskItem:hover .editButton {
  opacity: 1;
}

.taskActivated {
  color: rgba(0, 0, 0, 0.4);
  background-color: #ebebe4;
  user-select: none;
  border: none;
}

.taskActivated .taskButton:hover {
  background-color: #ebebe4;
  cursor: default;
}

.taskActivated:hover .editButton {
  opacity: 0;
  cursor: default;
}

.taskActivated:hover {
  background-color: #ebebe4;
}

.taskActivated .taskButton svg {
  opacity: 1;
}
