.image {
  position: absolute;
  top: -3px;
  right: 0;
  z-index: -10;
  width: 800px;
  max-width: 80%;
}

.header {
  padding-top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.textWrapper,
.imageWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.textWrapper {
  padding: 25px;
}

.textWrapper h1 {
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 1px;
}

.textWrapper a {
  color: #ffffff;
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  font-size: 0.6em;
  text-transform: uppercase;
  font-weight: 800;
  padding: 15px;
  margin: 5px 10px;
  min-width: 200px;
  text-align: center;
  border-radius: 50px;
  letter-spacing: 2px;
  user-select: none;
}

.textWrapper a:hover {
  background: #333333;
}

.imageWrapper img {
  max-width: 100%;
}

@media (min-width: 700px) {
  .textWrapper h1 {
    font-size: 2em;
  }
}
@media (min-width: 850px) {
  .header {
    height: 100%;
    flex-direction: row;
    padding-top: 10px;
  }
  .textWrapper a {
    min-width: 160px;
  }
}
@media (min-width: 950px) {
  .textWrapper a {
    min-width: 185px;
  }
}

@media (min-width: 1000px) {
  .textWrapper a {
    min-width: 200px;
  }
}
