.select {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 15px;
  outline: 0;
}

.option {
  font-size: 1.1em;
  font-weight: 800;
  letter-spacing: 2px;
}
